{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<span id = "dataxparent">
    <H1 id = datax class = "serif w3-animate-opacity">Change Password</H1>
</span>
<div class = "container boxcenter">
    <form action="/change" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
</div>
<script>
    document.body.classList.add('js-loading');

    window.addEventListener("load", showPage);

    function showPage() {
    document.body.classList.remove('js-loading');
    }
</script>
{% endblock %}
